.gbs01Container {
  display: flex;
  justify-content: space-around;
  flex: 1;
  width: 100%;
}
.gbs01Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--groww-secondary);
  font-size: 32px;
  border: 3px solid var(--groww-secondary-light);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
.gbs10MuteIcon {
  opacity: 0.5;
}
