.lb01Container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.lb01Title {
  color: var(--groww-secondary);
  font-size: 30px;
}

@media only screen and (max-width: 1044px) {
  .lb01Title {
    font-size: 28px;
  }
}

@media only screen and (max-width: 768px) {
  .lb01Title {
    font-size: 26px;
  }
}
