:root {
  --primary-color: #ff3a75;
  --heading-text: #fff4f7;
  --groww-green: #00d09c;
  --secondary-heading: #f4e8ed;
  --groww-secondary: #5367ff;
  --groww-secondary-light: #98a4ff;
  --table-bg: #eef0ff;
  --subtext: #7c7e8c;
  --text-color: #44475b;
  --groww-red: #eb5b3c;
}
