.gform01Container {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gform01Name {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}
.gform01InputBox {
  display: flex;
  flex-direction: column;
}
.gform01InputBox input {
  padding: 6px 8px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 8px;
}
.gform01Avatar {
  height: 100px;
}

.gform01StartBtn {
  padding: 8px 24px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background-color: var(--groww-secondary);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

@media only screen and (max-width: 768px) {
  .gform01Container {
    width: 260px;
    height: 260px;
  }
  .gform01Avatar {
    height: 40px;
  }
}
