.gform01Container {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gform01Name {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}
.gform01InputBox {
  display: flex;
  flex-direction: column;
}
.gform01InputBox input {
  padding: 6px 8px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 8px;
}
.gform01Avatar {
  height: 100px;
}

.gform01StartBtn {
  padding: 8px 24px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background-color: var(--groww-secondary);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

@media only screen and (max-width: 1024px) {
  .gform01Container {
    width: 420px;
    height: 420px;
  }
  .gform01Avatar {
    height: 50px;
  }
  .gform01InputBox input {
    padding: 4px 6px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 512px) {
  .gform01Container {
    width: 280px;
    height: 280px;
  }
  .gform01Avatar {
    height: 30px;
  }
  .gform01InputBox input {
    font-size: 14px;
  }
}
