.gs01Title {
  color: var(--groww-green);
  font-size: 42px;
}

.gsec01Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1044px) {
  .gsec01Container {
    order: -1;
  }
  .gs01Title {
    font-size: 36px;
  }
}

@media only screen and (max-width: 768px) {
  .gs01Title {
    font-size: 32px;
  }
}
