.grid {
  width: 500px;
  height: 500px;
  margin: 36px auto;
  color: #fff;
  border: 6px solid var(--groww-secondary);
  background-color: var(--groww-secondary-light);

  border-radius: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

@media only screen and (max-width: 768px) {
  .grid {
    width: 260px;
    height: 260px;
  }
}
