@import "./constants/theme/variables.css";
@import "./constants/theme/commonClasses.css";
body {
  margin: 0;
  font-family: "Luckiest Guy", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  min-width: 100vw;
  box-sizing: border-box;
}
button {
  font-family: "Luckiest Guy", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
