.rul01Container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.rul01Title {
  color: var(--groww-secondary);
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
}
.rul01Table {
  background-color: #eef0ff;
  margin-top: 22px;
  border-radius: 8px;
  width: 280px;
  min-height: 500px;
}
.rul01TableItem {
  padding: 24px 12px;
  color: var(--subtext);
}
@media only screen and (max-width: 1044px) {
  .rul01Title {
    font-size: 28px;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 768px) {
  .rul01Title {
    font-size: 26px;
  }
}
